%body
  .alert
    チャットグループが作成されました。

  .side
    .user-side
      .user-side__content
        .user-side__content_name
          hosida
        %a.user-side__content_new-group{:href =>""}
          %i.fa.fa-pencil-square-o
        %a.user-side__content_user-edit{:href =>""}
          %i.fa.fa-cog
    .groups-side
      .groups-side___list
        .groups-side___list__group
          .groups-side___list__group_group-name
            39_weekend fla
          .groups-side___list__group_message
            こんばんわ
        .groups-side___list__group
          .groups-side___list__group_group-name
            &bsol;(^o^)/
          .groups-side___list__group_message
            owata


  .chat
    .chat___header
      .chat___header__group.clearfix
        .chat___header__group_group-name
          39_weekend fla
        %a.chat___header__group_edit{:href =>""}edit
      .chat___header__member
        MEMBER: hosida
    .chat____body
      .chat____body___list
        .chat____body___list__message.clearfix
          .chat____body___list__message_name
            hosida
          .chat____body___list__message_time
            2018/12/16 16:16:16
          .chat____body___list__message_body
            こんばんわ
        .chat____body___list__message.clearfix
          .chat____body___list__message_name
            hosida
          .chat____body___list__message_time
            2018/12/16 16:16:58
          .chat____body___list__message_body
            (;ω;)
    .chat__footer
      .chat___footer__form-body
        %input.chat___footer__form-body_form-message{:name => "message[body]", :placeholder => "type a message", :type => "text"}
        %label.chat___footer__form-body_file{:for => "message-image"}
          %input.chat___footer__form-body-image{:name => "image[boy]", :type => "file"}
          %i.fa.fa-image
        %input.submit{:name => "commit", :type => "submit", :value => "send"}

