
/       .groups-side__list__group
/         .groups-side__list__group__group-name
/           &bsol;(^o^)/
/         .groups-side__list__group__message
/           owata
= render partial: 'shared/side'

.chat
  .chat__header
    .chat__header__group.clearfix
      .chat__header__group__group-name
        39_weekend fla
      / %a.chat__header__group__edit{:href =>""}edit
      = link_to 'edit', edit_group_path(current_user), class: 'chat__header__group__edit'
    .chat__header__member
      MEMBER:
      - @group.users.each do |user|
        #{user.name}


  .chat__body
    .chat__body__list
      = render @messages



  .chat__footer
    .chat__footer__form-body
      =form_for [@group, @message] do |f|
        =f.text_field :content,class: "chat__footer__form-body__form-message", placeholder: "type a message"
        =f.label :image, class: "chat__footer__form-body__file" do
          =f.file_field :image, class: "chat__footer__form-body__file__image"
          %i.fa.fa-image
        =f.submit "Send", class: "submit"


